html
  body
    table
      tr
        th Product Name
        th Quantity
        th Price
      each item in items
        tr
            td #{item.name}
            td #{item.qt}
            td #{item.price}
